@import url("mobile.css");
@import url("tablet.css") (min-width:600px) and (max-width:900px);
@import url("screen.css") (min-width:901px);

body,
form,
textarea,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

#container {
    display: grid;
    grid-template-rows: 120px 1fr 70px;
    min-height: 95vh;
    min-width: 300px;
/*     border: solid black 1px;
    border-radius: 15px; */
    padding: 10px;
    align-items: flex-start;
}

header {
    grid-row: 1;
    display: flex;
    border: solid purple 1px;
    background-color: purple;
    border-radius: 15px;
    padding: 5px;
    align-self: stretch;
}

header h1 {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    margin: 10px;
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    display: flex;
}

nav ul li {
    margin: 2px;
    border: white solid 1px;
    background-color: white;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: purple;
}

header form {
    display: flex;
    justify-content: space-around;
}

header input {
    width: 100%;
    box-sizing: border-box;
    border: 1px white solid;
    background-color: white;
    border-radius: 10px;
}

header button {
    border: 1px white solid;
    background-color: white;
    border-radius: 10px;
}

#content {
    display: flex;
    column-gap: 20px;
    grid-row: 2;
    min-width: 100%;
    padding: 10px;
    justify-self: center;
}

article {
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    flex-grow: 1;
}

article h2,
article h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.underline {
    font-style: normal;
    text-decoration-line: underline;
}

article hr {
    border: solid #ccc 1px;
}

#callout {
    display: flex;
    align-items: end;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

#callout p {
    font-size: 2em;
    background-color: white;
    border-radius: 5px;
}

article a {
    text-decoration: none;
    background-color: #ccc;
    border-radius: 5px;
}

article a:hover {
    background-color: #ccc;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

article blockquote {
    border-left: solid #ccc 2px;
    border-radius: 5px;
    padding-left: 5px;
}

.code {
    border-left: solid black 2px;
    background-color: #ccc;

}

article figure {
    margin: 1em;
    padding: 0;
    max-width: fit-content;
}

figure img {
    border: solid 1px #ccc;
    border-radius: 5px;
}

figcaption {
    border-bottom: solid 1px #ccc;
    padding: 0 0 5px 5px;
    border-radius: 5px;
}

article ul {
    list-style-type: circle;
}

.post-card a,
#featured a {
    margin: 2px;
    border: black solid 1px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.profile {
    display: grid;
    grid-template:
        'a a'
        'b b'
        'c d';
}

.profile h2 {
    grid-area: a;
    margin: 0;
    padding: 0;
}

.profile ul {
    grid-area: b;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
}

.profile li:first-child {
    list-style: none;
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

.profile ul li {
    list-style: none;
    border-left: 1px solid black;
    margin-left: 5px;
    padding-left: 5px;
}

.profile img {
    grid-area: c;
    height: 100px;
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.profile p {
    margin: 0;
}

#featured {
    display: grid;
    grid-template:
        'a b'
        'c b'
        'd b';
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid black 10px;
}

#featured h2 {
    grid-area: a;
    justify-self: start;
}

#featured p {
    grid-area: c;
    justify-self: start;
}

#featured a {
    grid-area: d;
    align-self: end;
}

#featured img {
    grid-area: b;
    justify-self: end;
}

.post-card, #featured {
    background-image: url("https://placehold.co/150x150");
    background-repeat: no-repeat;
    background-position: right;
}

footer {
    grid-row: 3;
    background-color: purple;
    border: solid purple 1px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    align-self: stretch;
    margin-bottom: 10px;
}



footer nav {
    min-width: 10%;
    align-self: center;
}

.socials li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 1.5em;
    font-weight: bold;
}