#container {
    grid-template-columns: 1fr;
}

header {
    flex-direction: column;
    grid-column: 1;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    min-width: 100%;
}

header form {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#content {
    grid-column: 1;
    flex-direction: column;
}

#callout {
    border-radius: 5px;
    background-image: url("https://placehold.co/500x150");
    max-width: 500px;
    min-height: 150px;
}

footer {
    grid-column: 1;
}

aside {
    display: none;
}