#container {
    grid-template-columns: 3fr 1fr;
    border: solid black 1px;
}

header {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

header h1 {
    min-width: 100%;
    text-align: center;
}

nav {
    min-width: 40%;
}

header form {
    width: unset;
    flex-grow: 2;
    flex-direction: row;
    margin: 10px;
}

#content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.post-card {
    width: 45%;
}

#featured {
    width: 100%;
}

#featured h2,
#featured p {
    margin-left: 30%;
}

aside {
    display: unset;
    grid-column: 2;
    grid-row: span 3;
    /* display: none; */
    border: solid black 1px;
    border-radius: 15px;
    align-self: stretch;
    padding: 5px;
    margin: 0 0 10px 10px;
}