#container {
    grid-template-columns: 1fr 1fr;
}

header {
    grid-column: span 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

header h1 {
    min-width: 100%;
    text-align: center;
}

nav {
    min-width: 40%;
}

header form {
    width: unset;
    flex-grow: 2;
    margin: 10px;
}

#content {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

footer {
    grid-column: span 2;
}

.post-card {
    width: 45%;
}

#featured {
    width: 100%;
}

#featured h2,
#featured p {
    margin-left: 30%;
}

aside {
    display: none;
}